
@{
    ViewData["Title"] = "EgitimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-lg rounded p-4">
        <h1 class="text-center text-primary mb-4">➕ Yeni Egitim Ekle</h1>
        <form method="post">
            <div class="form-group mb-3">
                <label for="Baslik" class="form-label">Egitim kurumu</label>
                <input type="text" id="Baslik" name="Baslik" class="form-control" placeholder="Egitim kurumu adini girin" required />
            </div>
            <div class="form-group mb-3">
                <label for="AltBaslik1" class="form-label">Fakulte/Tur</label>
                <input type="text" id="AltBaslik1" name="AltBaslik1" class="form-control" placeholder="Fakulte/Tur adini girin" required />
            </div>
            <div class="form-group mb-3">
                <label for="AltBaslik2" class="form-label">Bolum</label>
                <input type="text" id="AltBaslik2" name="AltBaslik2" class="form-control" placeholder=" Bolum adini girin" required />
            </div>
            <div class="form-group mb-3">
                <label for="GNO" class="form-label">GNO</label>
                <input type="text" id="GNO" name="GNO" class="form-control" placeholder=" GNO" required />
            </div>
            <div class="form-group mb-3">
                <label for="Tarih" class="form-label">Tarih</label>
                <input type="text" id="Tarih" name="Tarih" class="form-control" placeholder=" Tarih" required />
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary w-50">💾 Kaydet</button>
            </div>
        </form>
    </div>
</div>
